.genre{
    display: flex;
    position: relative;
    /* top: -90px; */
    right: 0;
}
.genreName{
    background-image: linear-gradient(45deg,#ee4e73,#de4266);
    font-size: small;
    font-weight: 100;
    margin: 0 2px;
    padding: 2px 4px;
    border-radius: 5px;
    display: inline;
}
@media screen and (max-width:500px) {
    .genre{
        display: none;
    }    
}